//
   Created by jonlazarini on 12/11/16.
bloc banner_heading
    .ui.grid.center.aligned
        .row
            h1.ui.header Semantic UI Fixed Template
        .row
            p This is a basic fixed menu template using fixed size containers.

