//
   Created by jonlazarini on 26/10/16.
html
  head
    title My Site - #{title}
    // locals refers to pug variables when compiling the template
    // gets hash from assets.json and trim path as main.css
    // prod
    //link(rel="stylesheet",href=locals['dist/main.css'].substring(5))
    // dev version
    link(rel="stylesheet",href="main.css")

  body.pushable
      .pusher
        block header
          p header is here

        block content
            #container

        block foot
            #footer
                p some footer content

        block scripts
            script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
