extends ../templates/layout

block sidebar
    include ../includes/sidebar


block header
    include ../includes/head

block content
    #container
        .ui.grid.center.aligned
            .row
                h1.ui.header Semantic UI Fixed Template
            .row
                p This is a basic fixed menu template using fixed size containers.

        .ui.equal.width.center.aligned.padded.grid.stackable
            .row
                .column
                    h2 he here
                    h3 3 here
                    p
                        | blablabla
                    button.ui.inverted.secondary.huge.button Large Inverted Button
            .ui.divider

            .row
                .column
                    h2 he here
                        h3 3 here
                        p
                            | blablabla
                        button.ui.inverted.secondary.huge.button Large Inverted Button
                .column
                    h2 he here
                        h3 3 here
                        p
                            | blablabla
                        button.ui.inverted.secondary.huge.button Large Inverted Button
            .ui.divider

            .row
                .column
                    h2 he here
                    h3 3 here
                    p
                        | blablabla
                    button.ui.inverted.secondary.huge.button Large Inverted Button





block foot
    include ../includes/foot

block scripts
    include ../includes/scripts


