extends ../templates/layout

block sidebar
    include ../includes/sidebar


block header
    include ../includes/head

block content
    #container



block foot
    include ../includes/foot

block scripts
    include ../includes/scripts


