extends templates/layout

block sidebar
    include includes/sidebar


block header
    include includes/head

block content
    #container.ui.main.text.container
        h1.ui.header Careers
        p This is a basic fixed menu template using fixed size containers.


block foot
    include includes/foot

block scripts
    include includes/scripts


