extends templates/layout

block sidebar
    include includes/sidebar


block header
    include includes/head

block content
    #container
        .ui.vertical.inverted.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .right.aligned.row(style='height:60vh')
                    .column(style='background-image:url(assets/images/london1.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 LONDON
                        p City Road 186, EC1V 2NT, London
                    .column
                        #googlemaps
        .ui.vertical.inverted.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .left.aligned.row(style='height:60vh')
                    .column
                        #googlemaps
                    .column(style='background-image:url(assets/images/london2.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 LONDON
                        p Fore Street 1, EC2Y 9DT, London
        .ui.vertical.inverted.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .right.aligned.row(style='height:60vh')
                    .column(style='background-image:url(assets/images/newyork.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 NEW YORK
                        p Alexandra House, 3 Ballsbridge Park, Dublin 4
                    .column
                        #googlemaps
        .ui.vertical.inverted.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .left.aligned.row(style='height:60vh')
                    .column
                        #googlemaps
                    .column(style='background-image:url(assets/images/denver.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 DENVER
                        p Alexandra House, 3 Ballsbridge Park, Dublin 4
        .ui.vertical.inverted.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .right.aligned.row(style='height:60vh')
                    .column(style='background-image:url(assets/images/dublin.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 DUBLIN
                        p Alexandra House, 3 Ballsbridge Park, Dublin 4
                    .column
                        #googlemaps
        .ui.vertical.inverted.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .left.aligned.row(style='height:60vh')
                    .column
                        #googlemaps
                    .column(style='background-image:url(assets/images/edinburgh.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 EDINBURGH
                        p Alexandra House, 3 Ballsbridge Park, Dublin 4




block foot
    include includes/foot

block scripts
    include includes/scripts


