extends templates/layout

block sidebar
    include includes/sidebar


block header
    include includes/head_contact

block content
    #container
        .ui.vertical.stripe.make.segment
            .ui.top.aligned.stackable.grid.container
                .row
                    .eight.wide.column
                        h3.ui.header Where we are
                        h4#london London
                        p
                            a(href='https://goo.gl/maps/UwuaQ5FQw7t', target='_blank') 186 City Road, London, EC1V 2NT
                        p
                            a(href='https://goo.gl/maps/Qgz612zt16m', target='_blank') 1 Fore Street, London, EC2Y 9DT
                        h4#dublin Dublin
                        p
                            a(href='https://goo.gl/maps/6uNcV8WHugJ2', target='_blank') Alexandra House, 3 Ballsbridge Park, Dublin 4
                        h4#edinburgh Edinburgh
                        p
                            a(href='https://goo.gl/maps/hqHR5X9Ery12', target='_blank') Somewhere, Edinburgh
                    .eight.wide.column
                        h3.ui.header  
                        h4#new-york New York
                        p
                            a(href='https://goo.gl/maps/RQEiME54EbF2', target='_blank') 1114 Avenue of the Americas, Suite 3030, New York, NY 10110
                        h4#denver Denver
                        p
                            a(href='https://goo.gl/maps/SVB3SNbDewF2', target='_blank') 1550 Wewatta St, Suite 2167, Denver, CO 80202
        .ui.vertical.inverted.stripe.quote.segment
            .ui.stackable.internally.celled.grid
                .right.aligned.row
                    // (style='height:60vh')
                    .ten.wide.column
                        // (style='background-image:url(images/london1.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 LONDON
                        p City Road 186, EC1V 2NT, London
                    .six.wide.column
                        // (style="padding:0;")
                        #map(style="width:100%; height:100%")

        .ui.vertical.inverted.stripe.quote.segment
            .ui.stackable.internally.celled.grid
                .left.aligned.row
                    // (style='height:60vh')
                    .ten.wide.column
                        // (style="padding:0;")
                        #map2(style="width:100%; height:100%")

                    .six.wide.column
                        // (style='background-image:url(images/london2.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 LONDON
                        p Fore Street 1, EC2Y 9DT, London
        .ui.vertical.inverted.stripe.quote.segment
            .ui.stackable.internally.celled.grid
                .right.aligned.row
                    // (style='height:60vh')
                    .ten.wide.column
                        // (style='background-image:url(images/newyork.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 NEW YORK
                        p Alexandra House, 3 Ballsbridge Park, Dublin 4
                    .six.wide.column
                        // (style="padding:0;")
                        #map3(style="width:100%; height:100%")

        .ui.vertical.inverted.stripe.quote.segment
            .ui.stackable.internally.celled.grid
                .left.aligned.row
                    // (style='height:60vh')
                    .ten.wide.column
                        // (style="padding:0;")
                        #map4(style="width:100%; height:100%")

                    .six.wide.column
                        // (style='background-image:url(images/denver.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 DENVER
                        p Alexandra House, 3 Ballsbridge Park, Dublin 4
        .ui.vertical.inverted.stripe.quote.segment
            .ui.stackable.internally.celled.grid
                .right.aligned.row
                    // (style='height:60vh')
                    .ten.wide.column
                        // (style='background-image:url(images/dublin.jpg);background-size: cover;font-size:140%;padding-top:45vh')
                        h3 DUBLIN
                        p Alexandra House, 3 Ballsbridge Park, Dublin 4
                    .six.wide.column
                        // (style="padding:0;")
                        #map5(style="width:100%; height:100%")

block foot
    include includes/foot

block scripts
    include includes/scripts
        //script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
        //script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA6sewibZttvy8MGL3DulCWV361VBD-zpg&callback=initMap')



