extends templates/layout

block header
    include includes/head

block content
    //#container
    //    .ui.two.column.stackable.centered.grid.container
    //        .column
    //            p.
    //                2 up
    //        .column
    //            p.
    //                2 up
    //
    //    .ui.one.column.centered.grid.container
    //        .column
    //            p.
    //                1 up
    #container.ui.main.text.container
        h1.ui.header Semantic UI Fixed Template
        p This is a basic fixed menu template using fixed size containers.
        p
            | A text container is used for the main container, which is useful for single column layouts
        img.wireframe(src='assets/images/wireframe/media-paragraph.png')
        img.wireframe(src='assets/images/wireframe/paragraph.png')
        img.wireframe(src='assets/images/wireframe/paragraph.png')
        img.wireframe(src='assets/images/wireframe/paragraph.png')
        img.wireframe(src='assets/images/wireframe/paragraph.png')
        img.wireframe(src='assets/images/wireframe/paragraph.png')
        img.wireframe(src='assets/images/wireframe/paragraph.png')

block foot
    include includes/foot

block scripts
    include includes/scripts


