extends templates/layout

block header
    include includes/head

block content
    #container
        .ui.two.column.stackable.centered.grid.container
            .column
                p.
                    2 up
            .column
                p.
                    2 up

        .ui.one.column.centered.grid.container
            .column
                p.
                    1 up

block foot
    include includes/foot

block scripts
    include includes/scripts


