@import semantic-ui

/************************************/
/******** OVERRIDES START HERE ******/
/************************************/
/*
  Source code of components is available here
  https://github.com/doabit/semantic-ui-sass/tree/master/app/assets/stylesheets


// 0 - Imports to override semantic-ui global vars
// @import globals/


// 1 - Imports to override semantic-ui elements
// @import elements/



// 2 - Imports from semantic-ui collections for overrides
@import collections/_bloc



// 3 - Imports from to add custom properties to semantic-ui modules
//@import modules/



// 4 - Imports to add css at a views level
// @import views/



// 5 - Will add css properties based on a page
/*
  must be avoided as much as possible - please use @extend to keep CSS DRY

#container
  margin: 80px 0px
  ::before

    content: 'test'
    color: red
    background-color: yellow
    width: 100%
    height: 200px
    padding: 20px
    margin: 20px

