//footer#footer
//    .ui.grid.bloc
//        .sixteen.wide.column
//            | 100%



//footer#footer
//    .ui.inverted.vertical.footer.segment
//        .ui.center.aligned.container


            //.ui.stackable.inverted.divided.grid
            //    .three.wide.column
            //        h4.ui.inverted.header Group 1
            //        .ui.inverted.link.list
            //            a.item(href='#') Link One
            //            a.item(href='#') Link Two
            //            a.item(href='#') Link Three
            //            a.item(href='#') Link Four
            //    .three.wide.column
            //        h4.ui.inverted.header Group 2
            //        .ui.inverted.link.list
            //            a.item(href='#') Link One
            //            a.item(href='#') Link Two
            //            a.item(href='#') Link Three
            //            a.item(href='#') Link Four
            //    .three.wide.column
            //        h4.ui.inverted.header Group 3
            //        .ui.inverted.link.list
            //            a.item(href='#') Link One
            //            a.item(href='#') Link Two
            //            a.item(href='#') Link Three
            //            a.item(href='#') Link Four
            //    .seven.wide.column
            //        h4.ui.inverted.header Footer Header
            //        p
            //            | Extra space for a call to action inside the footer that could help re-engage users.



            //.ui.inverted.section.divider
            //img.ui.centered.mini.image(src='assets/images/logo.png', data-pin-nopin='true')
            //.ui.horizontal.inverted.small.divided.link.list
            //    a.item(href='#') Site Map
            //    a.item(href='#') Contact Us
            //    a.item(href='#') Terms and Conditions
            //    a.item(href='#') Privacy Policy
            //



footer#footer
    .ui.inverted.vertical.footer.segment
        .ui.container
            .ui.stackable.inverted.divided.equal.height.stackable.grid
                .three.wide.column
                    h4.ui.inverted.header About
                    .ui.inverted.link.list
                        a.item(href='#') Sitemap
                        a.item(href='#') Contact Us
                .three.wide.column
                    h4.ui.inverted.header Buildit is...
                    .ui.inverted.link.list
                        a.item(href='#') Wipro
                        a.item(href='#') Wipro Digital
                        a.item(href='#') Designit
                .three.wide.column
                    h4.ui.inverted.header Europe
                    .ui.inverted.link.list
                        a.item(href='#') London
                        a.item(href='#') Dublin
                        a.item(href='#') Edinburgh
                .three.wide.column
                    h4.ui.inverted.header USA
                    .ui.inverted.link.list
                        a.item(href='#') New York
                        a.item(href='#') Denver
