footer#footer
    .ui.inverted.vertical.footer.segment
        .ui.container
            .ui.stackable.inverted.divided.equal.height.stackable.grid
                .four.wide.column
                    h4.ui.inverted.header About
                    .ui.inverted.link.list
                        a.item(href='#') Sitemap
                        a.item(href='#') Contact Us
                .four.wide.column
                    h4.ui.inverted.header Buildit is...
                    .ui.inverted.link.list
                        a.item(href='#') Wipro
                        a.item(href='#') Wipro Digital
                        a.item(href='#') Designit
                .four.wide.column
                    h4.ui.inverted.header Europe
                    .ui.inverted.link.list
                        a.item(href='#') London
                        a.item(href='#') Dublin
                        a.item(href='#') Edinburgh
                .four.wide.column
                    h4.ui.inverted.header USA
                    .ui.inverted.link.list
                        a.item(href='#') New York
                        a.item(href='#') Denver
