header#header
    .row
        .ui.sticky.fixed.top
            .ui.secondary.inverted.pointing.menu
                a.toc.item
                    i.sidebar.icon
                a.image.item
                    img#logo(src='images/buildit-logo-white.svg', alt='Buildit', data-svg-fallback='images/buildit-logo-white.png',href='index.html')

                .right.item
                    a.active.item(href='buildit.html') Build
                    a.item(href='people.html') People
                    a.item(href='contact.html') Contact
                //.right.item
                //    a.ui.inverted.button Github
    .row
        .ui.text.container
            h1.ui.inverted.header#tagline
                //img(src='images/buildit-logo-only-paths.svg')
                |         the future belongs to those who make