header#header_contact
    .row
        .ui.sticky.fixed.top
            .ui.secondary.inverted.pointing.menu
                a.toc.item
                    i.sidebar.icon
                a.image.item(href="index.html")
                    img#logo(src='images/buildit-logo-white.svg', alt='Buildit', data-svg-fallback='images/buildit-logo-white.png',href='index.html')

                .right.item
                    a.item(href='buildit.html') Build
                    a.item(href='people.html') People
                    a.item(href='contact.html') Contact
                //.right.item
                //    a.ui.inverted.button Github
    .row
        .ui.text.container

            .cities
                .glitch2.ldn(data-text='LONDON') LONDON
                .glitch.nyc(data-text='NEW YORK') NEW YORK
                .glitch.den(data-text='DENVER') DENVER
                .glitch2.edi(data-text='EDINBURGH') EDINBURGH
                .glitch.dub(data-text='DUBLIN') DUBLIN


            //h1.ui.inverted.header#tagline
            //    //img(src='images/buildit-logo-only-paths.svg')
            //    |         the future belongs to those who make