script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js")
// prod version
script(src=locals['dist/main.js'].substr(5))
if compileDebug
    script(src="//localhost:9091/livereload.js")
// dev version
// script(src='main.js')
