//
   Created by jonlazarini on 03/11/16.

// sidebar menu to be displayed on 'mobile'
#sidebar.ui.vertical.inverted.sidebar.menu
    .image
        img#logo(src='images/buildit-logo-white.svg', alt='Buildit', data-svg-fallback='images/buildit-logo-white.png')
    a.active.item(href='index.html') Home
    a.item(href='buildit.html') Company
    a.item(href='careers.html') Careers
